 @media (prefers-color-scheme: dark) {
   :root {
     --color-primary: #0070f3;
     --color-background: #181818;
     --color-text: #ffffff;
   }
 }

 @media (prefers-color-scheme: light) {
   :root {
     --color-primary: #0070f3;
     --color-background: #ffffff;
     --color-text: #000000;
   }
 }

 *,
 *::before,
 *::after {
   /* font: inherit; */
   box-sizing: border-box;
   margin: 0;
 }

 @font-face {
   font-family: "HarmonySans";
   src: url('@assets/fonts/HarmonyOS_Sans.ttf');
   font-display: swap;
 }

 html,
 body {
   margin: 0;
   padding: 0;
   background: var(--color-background);
 }

 body {
   height: 100vh;
   width: 100vw;
   line-height: 1.35;
   font-family: "HarmonySans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   user-select: none; 
   color: var(--color-text);
 }