 
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0070f3;
    --color-background: #181818;
    --color-text: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #0070f3;
    --color-background: #ffffff;
    --color-text: #000000; 
  }
}
*,
*::before,
*::after {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--color-background); 
}

body {
  height: 100vh;
  line-height: 1.6;
  font-family:"system-ui";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}
